@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    int num1 = 33;
    int num2 = 4;
    int result = num1 + num2;

    List<string> names = new List<string>()
    {
        "Barky Leis",
        "Angela Leis"
    };
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h3 class="display-4">The result of @num1 + @num2 is: @result</h3>
    @if (result % 2 == 0){
        <h2>Result is Even</h2>
    }
    else
    {
        <h2>Result is Odd</h2>
    }
    <h2>My family are:</h2>
    <ul>
        @foreach(var name in names)
        {
            <li>@name</li>
        }
    </ul>
    <h1>My birthday is @Model.Birthday and I'm already @Model.Age</h1>
</div>
